



.nav{
    background-color: lightgrey;
   color: white;
   display:  flex;
   align-self: center;
   height: 90px;
   position: absolute;
   width: 375px;
   height: 590px;
   left: 0px;
top: 92px;
   
   
   





}

 